img.images-heights {
  width: 100px;
  height: 14px;
  padding: 10px;
}
.images-themnail_1 {
  max-width: 700px;
}
/* .images-themnail_2 {
  height: 14px;
} */

/* .carousel.carousel-slider {
    margin: 10px 0px 0px 30px;
} */

.side-thumnail {
  margin: 10px 0px 0px 30px;
}

