.register_from {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.from_register {
  background: white;

  /* margin-top: 10%; */
  padding: 30px;
}

.row {
  margin: 0px;
}
.input_field {
  max-width: 100%;
}
.btn-class {
  display: inline-flex;

  flex-wrap: nowrap;
}

.form-control.is-valid,
.was-validated .form-control:valid:focus {
  background-image: none;
}

@media only screen and (max-width: 1199px) {
} /* 1024 */
@media only screen and (max-width: 1023px) {
} /* 980 */
@media only screen and (max-width: 979px) {
} /* 768 */
@media only screen and (max-width: 767px) {
} /* 650 */
@media only screen and (max-width: 649px) {
} /* 480 */
@media only screen and (max-width: 479px) {
} /* 375 */
@media only screen and (max-width: 374px) {
} /* 320 */
