.register_from {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.from_register {
  background: white;

  /* margin-top: 10%; */
  padding: 30px;
}

.row {
  margin: 0px;
}
.input_field {
  max-width: 100%;
}
.btn-class {
  display: inline-flex;

  flex-wrap: nowrap;
}

.form-control.is-valid,
.was-validated .form-control:valid:focus {
  background-image: none;
}
