.cards {
  display: grid;
  grid-template-columns: repeat(3, lfr);
  height: 500px;
}

.card-text {
  font-size: 14px;
}
a.btn.btn-primary.button-color {
    background: black;
    color: white;
    border: none;
}
