.navbar-brand {
  width: 20%;
}

@media only screen and (max-width: 1199px) {
} /* 1024 */
@media only screen and (max-width: 1023px) {
} /* 980 */
@media only screen and (max-width: 979px) {
} /* 768 */
@media only screen and (max-width: 767px) {
  .header-bar {
    display: grid;
    grid-template-columns: 30%;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 12pxxxxxx;
  }
  .nav-link {
    padding-left: 10%;
  }
  .navbar-toggler {
    display: grid;
    grid-row: 1;
    grid-column: 3;
  }
  .navbar-brand {
    width: 20%;
  }
} /* 650 */
@media only screen and (max-width: 649px) {
} /* 480 */
@media only screen and (max-width: 479px) {
} /* 375 */
@media only screen and (max-width: 374px) {
} /* 320 */

/* .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    display: grid;
    grid-row: 1;
    grid-column: 3;
} */

/*  */
